name: Latex Build

on:
  push:
    paths:
    - 'tbeason-cv.tex'
    - 'tbeason-resume.tex'

jobs:
  latex-job:
    runs-on: ubuntu-latest
    steps:
      - name: download paper repo
        uses: actions/checkout@v4
      - name: build pdfs
        uses: xu-cheng/latex-action@v3
        with:
          root_file: |
            tbeason-cv.tex
            tbeason-resume.tex
          post_compile: |
            mkdir -p ./output
            cp *.pdf ./output
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
